openapi: 3.2.0
info:
  version: 1.0.0
  title: AltoIRA.com OAUTH API
  contact:
    name: AltoIRA
    email: help@altoira.com
    url: https://www.altoira.com
  description: Provides access to an investor's account. Generates a token to be used with the "user" endpoints below
servers:
- url: https://altoira.sandbox.altoira.com
  description: Test API / Sandbox
- url: https://www.altoira.com
  description: Production API
tags:
- name: oauth
  description: Provides access to an investor's account. Generates a token to be used with the "user" endpoints below
paths:
  /oauth/token:
    post:
      tags:
      - oauth
      summary: Generate a token to access an investor's account.
      description: Access Tokens expire after  15 days (regardless of use). Refresh tokens expire after 90 days and can only be used once (a new refresh token is issued upon refresh)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - refresh_token
                code:
                  type: string
                  example: f50200eb98f70150f132d24b6a65ee9d1eb9895d5191fef52996528...
                refresh_token:
                  type: string
                  example: f50200eb98f70150f132d24b6a65ee9d1eb9895d5191fef52996528
                client_id:
                  type: string
                  description: Alto Provided Code
                  example: '111111'
                client_secret:
                  type: string
                  description: Alto Provided Code
                  example: 09397056dbe85fef52975a610e1e3a96528
                redirect_uri:
                  type: string
                  example: https://example.com/altoira/oauth_complete
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthToken'
components:
  schemas:
    OAuthToken:
      type: object
      properties:
        token_type:
          type: string
          enum:
          - Bearer
        expires_in:
          type: integer
          example: 1296000
        access_token:
          type: string
          example: 4a70821169e801da4cb94ff265288d48378823933b8
        refresh_token:
          type: string
          example: 9523f83b7e3ee677a763d6e5963a7cec5d430ff7ad
  securitySchemes:
    PlatformAuth:
      type: http
      scheme: basic
      description: Basic Auth credentials that were assigned to you by Alto
    UserAuth:
      type: http
      scheme: bearer
      description: 'Specify the OAuth token generated by calling /oauth/token. It will be used in the "Authorization: Bearer" header'
    UserOauth:
      type: oauth2
      description: Redirect your users to /oauth/authorize to get started (see the OAuth section on this documentation)
      flows:
        authorizationCode:
          authorizationUrl: https://altoira.sandbox.altoira.com/oauth/authorize
          tokenUrl: https://altoira.sandbox.altoira.com/oauth/token
          refreshUrl: https://altoira.sandbox.altoira.com/oauth/token/refresh
          scopes: {}
externalDocs:
  description: Webhooks
  url: https://altoira.sandbox.altoira.com/documents/webhooks.txt
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
