openapi: 3.2.0
info:
  version: 1.0.0
  title: AltoIRA.com Handoffs API
  contact:
    name: AltoIRA
    email: help@altoira.com
    url: https://www.altoira.com
  description: These are the endpoints you will redirect your investors to (these are NOT api endpoints so you cannot use the Try it out tool)
servers:
- url: https://altoira.sandbox.altoira.com
  description: Test API / Sandbox
- url: https://www.altoira.com
  description: Production API
tags:
- name: handoffs
  description: These are the endpoints you will redirect your investors to (these are NOT api endpoints so you cannot use the Try it out tool)
paths:
  /oauth/authorize:
    get:
      tags:
      - handoffs
      summary: Allows investor to approve access to his/her account
      description: Once access is approved by the investor, we will generate an auth "code" and send it back to your `redirect_uri` in a query string parameter named "code".
      parameters:
      - name: client_id
        in: query
        description: Alto Provided Code
        required: true
        schema:
          type: string
      - name: response_type
        in: query
        required: true
        description: Use "code"
        schema:
          type: string
          enum:
          - code
      - name: scope
        in: query
        required: false
        description: Not used. Leave this blank — Alto does not scope access; a token grants full access to the investor's account.
        schema:
          type: string
      - name: redirect_uri
        in: query
        required: true
        description: Must match what we have on file
        schema:
          type: string
      responses:
        '200':
          description: No response (you are redirecting the user to Alto's site)
  /offering/platform/{platform_code}/{external_id}:
    get:
      tags:
      - handoffs
      summary: Allows the user to complete the funding process
      description: Ensure that you have first enabled access to the Offering for this investor (see /api/platform/offering/{external_id}/enable_for_investor)
      parameters:
      - name: platform_code
        in: path
        required: true
        description: 'The code assigned to your account (ie: angellist)'
        schema:
          type: string
      - $ref: '#/components/parameters/external_id'
      responses:
        '200':
          description: No response (you are redirecting the user to Alto's site)
components:
  parameters:
    external_id:
      name: external_id
      example: '12345'
      in: path
      description: The ID you use internally to identify this Offering
      required: true
      schema:
        type: string
  securitySchemes:
    PlatformAuth:
      type: http
      scheme: basic
      description: Basic Auth credentials that were assigned to you by Alto
    UserAuth:
      type: http
      scheme: bearer
      description: 'Specify the OAuth token generated by calling /oauth/token. It will be used in the "Authorization: Bearer" header'
    UserOauth:
      type: oauth2
      description: Redirect your users to /oauth/authorize to get started (see the OAuth section on this documentation)
      flows:
        authorizationCode:
          authorizationUrl: https://altoira.sandbox.altoira.com/oauth/authorize
          tokenUrl: https://altoira.sandbox.altoira.com/oauth/token
          refreshUrl: https://altoira.sandbox.altoira.com/oauth/token/refresh
          scopes: {}
externalDocs:
  description: Webhooks
  url: https://altoira.sandbox.altoira.com/documents/webhooks.txt
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
