openapi: 3.2.0
info:
  version: 1.0.0
  title: AltoIRA.com User API
  contact:
    name: AltoIRA
    email: help@altoira.com
    url: https://www.altoira.com
  description: 'These actions are performed within the context of a specific user (uses OAuth2 with an `Authorization: Bearer` header)'
servers:
- url: https://altoira.sandbox.altoira.com
  description: Test API / Sandbox
- url: https://www.altoira.com
  description: Production API
tags:
- name: user
  description: 'These actions are performed within the context of a specific user (uses OAuth2 with an `Authorization: Bearer` header)'
paths:
  /api/user:
    get:
      security:
      - UserAuth: []
      tags:
      - user
      summary: Get user account information
      description: Retrieve account information for the user you’re logged-in as
      operationId: getUser
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      security:
      - UserAuth: []
      tags:
      - user
      summary: Updates the user’s account information
      description: This is meant to be called one time immediately after the user first grants you OAuth access to their account. Values that contradict user-supplied info will not be saved. Data submitted is first reviewed by the investor before being updated to update their account details
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ssn:
                  type: string
                  example: 123-44-6666
                dob:
                  type: string
                  example: '1980-10-05'
                phone:
                  type: string
                  example: 480-950-0001
                address:
                  type: string
                  example: 405 Main St
                address_line_2:
                  type: string
                  example: Apt 2
                city:
                  type: string
                  example: Nashville
                state:
                  type: string
                  example: TN
                zip:
                  type: string
                  example: '37209'
      responses:
        '200':
          description: Successful
        '400':
          description: Invalid user supplied
        '404':
          description: User not found
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1070
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Doe
        email:
          type: string
          example: john@example.com
        accounts:
          type: array
          items:
            type: object
            properties:
              account_type:
                type: string
                example: Roth
              alto_account_number:
                type: integer
                example: 100
              investing_entity_name:
                type: string
                example: AltoIRA Empire Trust Custodian FBO John Smith Roth IRA
              authorized_signer:
                type: string
                example: Eric Satz, CEO
              ira_ein:
                type: string
                example: 12-1234567
              ira_address:
                type: string
                example: 615 Main St, 129 Nashville, TN 37206
              email_address:
                type: string
                example: signaturerequests@altoira.com
              phone_number:
                type: string
                example: (877) 673-1557
              banking_information:
                type: object
                properties:
                  bank:
                    type: string
                    example: Pinnacle Financial Partners 150 3rd Ave. South, Suite 900 Nashville, TN 37201
                  recipient:
                    type: string
                    example: Empire Trust, Inc 8801 Jefferson NE Bldg. C Albuquerque, NM 87113
                  routing_number:
                    type: string
                    example: 123456789
                  account_number:
                    type: string
                    example: 12345689123
  securitySchemes:
    PlatformAuth:
      type: http
      scheme: basic
      description: Basic Auth credentials that were assigned to you by Alto
    UserAuth:
      type: http
      scheme: bearer
      description: 'Specify the OAuth token generated by calling /oauth/token. It will be used in the "Authorization: Bearer" header'
    UserOauth:
      type: oauth2
      description: Redirect your users to /oauth/authorize to get started (see the OAuth section on this documentation)
      flows:
        authorizationCode:
          authorizationUrl: https://altoira.sandbox.altoira.com/oauth/authorize
          tokenUrl: https://altoira.sandbox.altoira.com/oauth/token
          refreshUrl: https://altoira.sandbox.altoira.com/oauth/token/refresh
          scopes: {}
externalDocs:
  description: Webhooks
  url: https://altoira.sandbox.altoira.com/documents/webhooks.txt
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
